.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: darkslategray;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.factView {
  width: 700px;
  height: 200px;
  border: 1px solid white;
  background: white;
  border-radius: 10px;
  padding: 20px;
}

.avatarView {
  width: 700px;
  height: 500px;
  border: 1px solid white;
  background: white;
  border-radius: 10px;
  padding: 20px;
}

.factView-input {
  width: 150px;
  height: 20px;
}

.avatar {
  width: 200px;
  height: 200px;
}

.imgContainer {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: start;
}
