.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: darkslategray;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.factView {
  width: 700px;
  height: 200px;
  border: 1px solid white;
  background: white;
  border-radius: 10px;
  padding: 20px;
}

.avatarView {
  width: 700px;
  height: 500px;
  border: 1px solid white;
  background: white;
  border-radius: 10px;
  padding: 20px;
}

.findFilms, .filmFavorites {
  width: 850px;
  height: 90vh;
  overflow: auto;
  border: 1px solid white;
  background: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.filmCard {
  display: flex;
  width: 600px;
  gap: 15px;
}

.filmDetailCard {
  width: 850px;
  height: 60vh;
  border: 1px solid white;
  background: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.filmCard-poster {
  cursor: pointer;
}

.filmCard-img {
  width: 150px;
}

.findFilms-search {
  display: flex;
  gap: 10px;
}

.factView-input {
  width: 150px;
  height: 20px;
}

.avatar {
  width: 200px;
  height: 200px;
}

.imgContainer {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: start;
}
